@media only screen and (max-width: 600px) {
  body {
    background: hsl(0, 100%, 98%);
    font-family: "Josefin Sans", sans-serif;
    height: 800px;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .right-sec {
    display: none;
  }

  #container {
    width: 100%;
  }
  nav img {
    padding-top: 30px;
    padding-left: 50px;
    padding-bottom: 30px;
    width: 100px;
    height: 20px;
  }
  .hero-girl {
    width: 100%;
  }
  .hero-girl img {
    width: 100%;
    background-size: cover;
  }
  .left-sec {
    margin: auto;
  }
  .left-sec .first {
    display: block;
    font-size: 45px;
    margin-top: 50px;
    color: hsl(0, 36%, 70%);
    letter-spacing: 15px;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
  }
  .second {
    display: block;
    font-size: 45px;
    margin-top: 8px;
    letter-spacing: 15px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
  }
  .third {
    display: block;
    font-size: 45px;
    margin-top: 8px;
    letter-spacing: 15px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
  }
  .left-sec p {
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.2px;
    color: hsl(0, 36%, 70%);
    width: 350px;
    text-align: center;
    margin: auto;
  }
  .left-sec p br {
    display: none;
  }
  #main-input {
    width: 200px;
    height: 20px;
    border: 1px solid lightgray;
    border-radius: 30px;
    background: none;
    padding: 10px 20px;
    margin-top: 35px;
    z-index: 100;
  }
  #main-input:-webkit-autofill {
    -webkit-background-clip: text;
  }
  #main-input:focus {
    outline: none !important;
    border: 1px solid hsl(0, 93%, 68%);
  }
  #main-input::placeholder {
    color: hsl(0, 36%, 70%);
    font-size: 12px;
    font-family: "Josefin Sans", sans-serif;
    opacity: 0.5;
  }

  .input-part {
    position: relative;
    width: 200px;
    height: 100%;
    margin: auto;
  }
  .error-icon {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 46px;
    left: 160px;
    background: url(images/icon-error.svg);
    background-repeat: no-repeat;
    background-size: 20px;
  }
  .err-animation {
    -webkit-animation: shake 0.6s linear;
  }
  /* also need keyframes and -moz-keyframes */
  @-webkit-keyframes shake {
    0% {
      left: 155px;
    }
    16% {
      left: 160px;
    }
    33% {
      left: 155px;
    }
    50% {
      left: 160px;
    }
    66% {
      left: 155px;
    }
    83% {
      left: 158px;
    }
    100% {
      left: 160px;
    }
  }
  #submit_button {
    width: 60px;
    height: 41px;
    background: url(images/icon-arrow.svg) center center no-repeat,
      linear-gradient(to right, hsl(0, 80%, 86%) 0%, hsl(0, 74%, 74%) 100%);
    border: none;
    position: absolute;
    border-radius: 30px;
    top: 35px;
    left: 185px;
    box-shadow: 3px 7px 6px 0px #f4dddd;
    cursor: pointer;
    transition: 0.5s ease-in-out;
  }
  #submit_button:hover {
    box-shadow: 5px 10px 8px 0px #d1bbbb;
    background: url(images/icon-arrow.svg) center center no-repeat,
      linear-gradient(to right, hsl(0, 80%, 86%) 0%, hsl(0, 80%, 86%) 100%);
  }
  .invalid_message p {
    font-size: 11px;
    margin-left: -75px;
    margin-top: 5px;
    color: hsl(0, 93%, 68%);
    font-weight: 400;
  }
  .invalid {
    display: none;
  }
  #main-input[value] {
    font-family: "Josefin Sans", sans-serif;
    font-size: 12px;
  }
  #valid-message p {
    font-size: 12px;
    margin-left: 50px;
    margin-top: 5px;
    color: rgb(61, 141, 85);
    font-weight: 400;
    width: 100px;
  }
  .valid_message{
    width: 100px;
  }
  .checked-icon {
    position: absolute;
    margin-left: 260px;
    margin-top: -22px;
  }
  .checked-icon svg {
    margin-left: 20px;
  }
  .coder{
    font-family: 'Italianno', cursive;
    font-size: 16px;
  }
  .valid {
    display: none;
  }
  .attribution {
    font-size: 6px;
    text-align: center;
    margin-top: 75px;
    }
 .attribution a {
   color: hsl(228, 45%, 44%);
  }

  .sliding-animation:first-of-type {
    animation: showup 7s infinite;
  }

  .sliding-animation:last-of-type {
    width:0px;
    animation: reveal 7s infinite;
  }

  .sliding-animation:last-of-type span {
    margin-left:-355px;
    animation: slidein 7s infinite;
  }

  @keyframes showup {
      0% {opacity:0;}
      20% {opacity:1;}
      80% {opacity:1;}
      100% {opacity:0;}
  }

  @keyframes slidein {
      0% { margin-left:-800px; }
      20% { margin-left:-800px; }
      35% { margin-left:0px; }
      100% { margin-left:0px; }
  }

  @keyframes reveal {
      0% {opacity:0;width:0px;}
      20% {opacity:1;width:0px;}
      30% {width:355px;}
      80% {opacity:1;}
      100% {opacity:0;width:355px;}
  }
}
